
html {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

html {
    --color-background: #fafafa;
    --color-foreground: #1f2023;
}
html.dark {
    --color-background: #1f2023;
    --color-foreground: #efefef;
}

@media (prefers-color-scheme: dark) {
    html {
        --color-background: #1f2023;
        --color-foreground: #efefef;
    }
}


html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}