
html {
    background-color: var(--color-background);
    color: var(--color-text);
}

html {
    --color-background: white;
    --color-text: #0b141e;
    --color-nav-background: #142336;
    --color-nav-hover-background: rgba(180, 180, 180, 0.38);
    --color-nav-active-background: rgba(255, 255, 255, 0.43);
    --color-accent-color: #14AAE9;
}
html.dark {
    --color-background: #1f2023;
    --color-text: #fafafa;
    --color-nav-background: #142336;
    --color-nav-hover-background: rgba(86, 86, 86, 0.42);
    --color-nav-active-background: rgba(255, 255, 255, 0.43);
    --color-accent-color: #14AAE9;
}



html {
    font-size: calc(10px + 2vmin);
}

/* Add a black background color to the top navigation */
.nav {
    position: sticky;
    top: 0;

    background: var(--color-nav-background);
    overflow: hidden;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.nav {
    transition: background-color .4s ease,color .4s ease;
}

.nav.scrolled{
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 0 solid
}

/* Style the links inside the navigation bar */
.nav a {
    color: #fafafa;
    display: flex;
    align-items: center;
    height: 3rem;
    float: left;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
}

/* Style the links inside the navigation bar */
.nav.scrolled a {
    color: #0b141e;
    display: flex;
    align-items: center;
    height: 3rem;
    float: left;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
}

.nav a:hover {
    background: var(--color-nav-hover-background);
}


/* Add a color to the active/current link */
.nav a.active {
    color: var(--color-accent-color);

}

.nav-title{
    font-weight: bold;
}

.nav a img {
    height: 75%;
}

.nav-start{
    display: flex;
    align-items: center;
}

.nav-end{
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-accent-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-accent-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.lang{
    border: 0 solid;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    font-size: 15px;
    background: var(--color-nav-active-background);
    color: #0b141e;
}

